# This file contains dev requirements for the project. In our case, this means it contains testing requirements. These
# packages are not required to run the project, but are used to develop and test the project.

# flake8 is an opinionated style guide that forces a consistent code style.
# This makes code easier to read and makes git changes smaller.
flake8==3.9.2
# tox is used for testing Python code in multiple environments
tox==3.24.3
# pytest is a good standard Python testing library, and can be run
# from the command-line.
pytest==6.2.5
pytest-cov==2.12.1
# mypy enforces that types are used correctly. It is similar to Typescript
# (for JavaScript) but does not transpile your code. 
mypy==0.910