# This contains required packages to run the project. Since this is a simple project,
# it doesn't actually have any requirements, but we can pretend that numpy is a requirement.
# This file is used to create the correct python environment to run our project. 

numpy==1.23.4